@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mirza:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


body {
    background-color: #080808;
    color: #fff;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav p a {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.nav p :hover{
    color: darkorange;
}

.nav ul {
    list-style: none;

}

.nav ul li {
    display: inline-block;
    margin-right: 20px;

}

.nav ul li :hover {
    color: rgb(243, 245, 242);
    border-radius: 8px;
    padding: 11px;
    background-color: darkorange;
}

.nav ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 18px;
}

h1 {
    font-family: 'Mirza', cursive;
    font-weight: bold;
    font-size: 50px;
    /* letter-spacing: -1.5px;
    width: 40%; */
    padding: 44px 0px 0px 44px;
}
h1 span{
    display: block;
}
.contact-me{
    display: flex;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height:59px;
    width: 169px;
    background-color: blue;
    border-radius: 20px;
    margin: -44px 0px 0px 44px;
}
.contact-me :hover{
    display: flex;
    font-weight: bold;
    background-color: darkorange;
    height:59px;
    width: 169px;
    border-radius: 20px;
    justify-content: center;
    align-items: center; 
}

.my-picture {
    position: absolute;
    right: 30px;
    top:110px
}
.spacer{
    padding:70px;
}
.specialized-section{
    background-color: rgb(20, 33, 61);
    padding: 40px 0px;
}


.specialized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    padding: 0;
}

.first-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
}

.second-text {
    margin-top: -10px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px 30px 60px;
}

.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9px 20px 100px 20px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 39px;
    border: 0.77px solid white;
}

.get-in-touch {
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    margin: 0;

}

.get-in-touch p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 28px;
    padding: 40px;
    width: 66%;
    height: 8%;
    letter-spacing: -0.3px;
    margin: auto;
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    border-radius: 44px;
    background-color: grey;
    cursor: pointer;
    width: 120px;
    margin: auto;
    height: 30px;

}

.about-me {
    padding: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me p {
    font-family: 'Mirza', cursive;
    font-size: 24px;
    margin-top: -14px;
    margin: -70px 0px 0px -60px;
    width: 67%;
}

.project-title {
    display: flex;
    margin: auto;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: 'Mirza', cursive;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: -30px;
}


h4 {
    font-family: 'Mirza', cursive;
    font-size: 28px;
    font-weight: bold;
}

h5 {
    font-family: 'Mirza', cursive;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: -34px;
    padding: 0px 0px 20px 0px;
    text-transform: capitalize;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
    padding: 20px 0px;
}
.project-container{
    width: 100%;
    cursor: pointer;
}


.quote {
    display: flex;
    background-color: rgb(218, 215, 205);
    justify-content: space-around;
    margin: 0px;
    margin: 0px;
    align-items: center;
}

.last-quote {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 28px;
    color: black;
    margin: 10%;
    letter-spacing: -0.3px;
}


.more p {
    text-decoration: none;
    font-family: josefin sans;
    font-size: 20px;
    background-color: royalblue;
    border-radius: 30px;
    width: 20%;
    padding: 5px;
    margin: 50px auto;
}

.link-more {
    text-decoration: none;
}


.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
