@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mirza:wght@400;500;600&display=swap');

body {
    background-color: #080808;
    color: #fff;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav p {
    text-transform: uppercase;
    font-size: 20px;

}

.nav ul {
    list-style: none;

}

.nav ul li {
    display: inline-block;
    margin-right: 20px;

}

.active,
.nav ul li :hover {
    color: rgb(114, 192, 83);
    border-radius: 8px;
}

.nav ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 18px;
}

h1 {
    font-family: 'Mirza', cursive;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -1.5px;
    width: 30%;
    height: 3%;
    padding: 44px 0px 0px 44px;
}
.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    height:59px;
    width: 169px;
    background-color: blue;
    border-radius: 20px;
    margin: -30px 0px 0px 44px;
}

.my-picture {
    position: absolute;
    right: 30px;
    top:110px
}
.spacer{
    padding:70px;
}
.specialized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    padding: 0;
}

.first-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
}

.second-text {
    margin-top: -10px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px 30px 60px;
}

.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9px 20px 100px 20px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 39px;
    border: 0.77px solid white;
}

.get-in-touch {
    background-color: rgb(27, 27, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    margin: 0;

}

.get-in-touch p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 28px;
    padding: 40px;
    width: 66%;
    height: 8%;
    letter-spacing: -0.3px;
    margin: auto;
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    border: border-box 2px solid rgb(139, 136, 136);
    position: relative;
    border-radius: 44px;
    background-color: grey;
    width: 120px;
    margin: auto;
    height: 30px;

}

.about-me {
    padding: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me p {
    font-family: 'Mirza', cursive;
    font-size: 24px;
    margin-top: -14px;
    margin: -70px 0px 0px -60px;
    width: 67%;
}

.project-title {
    display: flex;
    margin: auto;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: 'Mirza', cursive;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: -30px;
}


h4 {
    font-family: 'Mirza', cursive;
    font-size: 28px;
    font-weight: bold;
}

h5 {
    font-family: 'Mirza', cursive;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: -34px;
    padding: 0px 0px 20px 0px;
    text-transform: capitalize;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.react-pic {
    width: 100%;
    height: 100%;
    border-radius: 34px;
}

.react-container {
    box-shadow: 1px 1px 1px 1px rosybrown;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 67%;
    border-radius: 31px;
    padding: 45px;
    margin: 55px;
}

.react-container p {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.5px;
    font-size: 18px;
    width: 50%px;
}

.java-pic {
    width: 100%;
    height: 100%;
    border-radius: 34px;
}

.java-container {
    box-shadow: 1px 1px 1px 1px rosybrown;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 67%;
    border-radius: 31px;
    padding: 45px;
    margin: 55px;
}

.java-container p {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.5px;
    font-size: 18px;
    width: 50%px;
}

.quote {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    margin: 0px;
    align-items: center;
}

.last-quote {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 28px;
    margin: 10%;
    letter-spacing: -0.3px;
}

.footer {
    position: relative;
    background-color: rgb(27, 27, 29);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;

}

.container-1 {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.footer a {
    text-decoration: none;
}

.last-hr {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    max-width: 100%;
    width: 100%;
    border: 1px solid grey;
}

.footer-list {
    margin: 20px;
}

.footer-list a {
    text-decoration: none;
    color: aliceblue;
    text-transform: lowercase;
    font-size: 18px;
    margin-left: 11px;
}

.more {
    text-decoration: none;
    font-family: josefin sans;
    font-size: 20px;
    text-align: center;
    background-color: royalblue;
    padding: 3px;
    border-radius: 30px;
    width: 250px;
    height: auto;
    margin: auto;
}

.link-more {
    text-decoration: none;
}